<div class="border-bottom row" style="color:black; margin-bottom: 4px;">
   <div class="col-10">
      <h4 style="color:rgb(156, 148, 148); margin-bottom: 8px;">{{job['title']}}</h4>
      <div><b>location:</b>{{job['location']}}</div>
      <div><b>salary: </b>{{job['salary']}}</div>
   </div>
   <div class="col-2 text-right" style="margin-top: 20px;">      
      <a href="mailto:wajahathassan815@gmail.com?subject=application%20for%20{{job['title']}}&body=resume%3D%3Cresume%3E%0D%0Aportfolio-link%3D%3Clink%20%3F%3E?" type="button" class="btn btn-outline-success">Apply </a>
   </div>
</div>

